## 1. Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [1]:
def company(eid):
    e=str(eid).split("@")
    e1=e[-1].split('.')
    return e1[0]


print (company("indhu@gmail.com"))

gmail

## Question 2 :
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [3]:
def s(*a):
    print ("Before sorting",a)
    a1=sorted(a)
    a2=tuple(a1)
    print ("After sorting",a2)


s("red","yellow","orange","purple")

Before sorting ('red', 'yellow', 'orange', 'purple')
After sorting ('orange', 'purple', 'red', 'yellow')

## Question 3:
Create your own Jupyter Notebook for Sets.

In [5]:
s1={1,2,3,4,5}
print (s1)#Output: {1, 2, 3, 4, 5}

s2={'red','blue','orange'}
print (s2)#Output:{'red', 'orange', 'blue'}

#set can contain different datatypesS.ets are unordered, so it will print in any order.
s3={1,'car',2,'bus'}
print (s3)#Output: {'car', 1, 2, 'bus'}


# we can create set by using set() - set constructor
s5=set([1,2,3])
print (s5)#Output: {1, 2, 3}

# set has no duplicates.
s6={1,2,3,1,2,3,1,2,3}
print (s6)# Output: {1, 2, 3}

#we can't create empty set using {}. To create empty set we use set()
s7=set()
print (s7) #Output: set()

{1, 2, 3, 4, 5}
{'red', 'orange', 'blue'}
{1, 2, 'bus', 'car'}
{1, 2, 3}
{1, 2, 3}
set()

In [6]:
s1={1,2,3}
#add single item to set
s1.add(4)
print (s1)#Output:{1, 2, 3, 4}
#add multiple item to set
s1.update({3,4,5})
print (s1)#Output:{1, 2, 3, 4, 5}
s1.update([5,6])
print (s1)#Output:{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [7]:
s1={1,2,3,4,5}

#remove method will remove specified element from set.
s1.remove(5)
print (s1) #Output:{1,2,3,4}

# discard method will also remove the element from set.
s1.discard(4)
print (s1)#Output:{1,2,3}
# if element specified is not set means, it will not raise an error
s1.discard(7)
print (s1) #Output:{1,2,3}

#Since set in unordered, pop will remove any element from set.pop() method will return the removed item.
print(s1.pop()) #Output: 1
print (s1) #Output:{2,3}

# clear() will empty the set.
s1.clear()
print (s1) #Output: set()

{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3}
1
{2, 3}
set()

In [8]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
#union by using | operator
s3=s1|s2
print (s3) #Output:{1, 2, 3, 4, 5, 6, 7, 8}
# by using union() method
s4=s1.union(s2)
print (s4) #Output:{1, 2, 3, 4, 5, 6, 7, 8}
#intersection using & operator
s5=s1&s2
print (s5) #Output:{4, 5}
s6=s1.intersection(s2)
print (s6) #Output: {4, 5}

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}

In [9]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
#difference using operator - 
s3=s1-s2
print (s3) #Output: {1,2,3}
s4=s1.difference(s2)
print (s4) #Output: {1,2,3}

#difference_update() will modify the original set. Return type is None.
s1.difference_update(s2)
print (s1) #Output: {1,2,3}
# difference_update by using -= operator
s2-=(s1)
print (s2) #Output: {4,5,6,7,8}

{1, 2, 3}
{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [10]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
# symmetric_difference by using ^ operator
s3=s1^s2
print (s3) #Output: {1, 2, 3, 6, 7, 8}

s4=s1.symmetric_difference(s2)
print (s4) #Output:{1, 2, 3, 6, 7, 8}

#symmetric_difference_update()

print (s1.symmetric_difference_update(s2)) #Output: None
print (s1) #Output: {1, 2, 3, 6, 7, 8}

s2^=s1
print (s2) #Output: {1,2,3}

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
None
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5}

In [11]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
print (s1.intersection_update(s2)) #Output: None
print (s1) #Output: {4,5}
#intersection_update() by using operator &=
s2&=s1
print (s2) #Output: {4,5}

None
{4, 5}
{4, 5}

In [12]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
print (s1.isdisjoint(s2)) #Output: False

s3={1,2,3}
s4={4,5,6}
print (s3.isdisjoint(s4)) #Output: True

s1={1,2,3,4,5}
s2={4,5,6,7,8}
print (s1.issubset(s2)) #Output: False

s3={1,2,3}
s4={1,2,3,4,5}
print (s3.issubset(s4)) #Output: True

s1={1,2,3,4,5}
s2={4,5,6,7,8}
print (s1.issuperset(s2)) #Output: False

s3={1,2,3,4,5}
s4={1,2,3}
print (s3.issuperset(s4)) #Output: True

False
True
False
True
False
True

In [13]:
s1={1,2,3,4,5}
print (len(s1)) #Output:5
print (min(s1))#Output:1
print (max(s1)) #Output:5
print (sum(s1)) #Output:15

s2={'red','blue','green'}
print (len(s2)) #Output:3
print (min(s2))#Output:blue
print (max(s2)) #Output:red

5
1
5
15
3
blue
red

## Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [14]:
def missing_no(li):
    ma=max(li)
    mi=min(li)
    for i in range(mi,ma+1):
        if i not in li:
            print (i,end=" ")
            
missing_no([1,4,5,3,8,11])

2 6 7 9 10

## Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space

In [15]:
def duplicate(a):
    b=[]
    [b.append(i) for i in a if i not in b]
    print(b)

duplicate([1,2,2,3,4,5,5,3,2,1])

[1, 2, 3, 4, 5]